.cell-number
  width 55px
  height 100px
  float left
  padding 5px

.cell-bar
  background-color rgba(0, 0, 0, 0.3)
  position relative

.cell-bar-vertical
  width 10px
  height 35px
  margin-bottom 10px

.cell-bar-horizontal
  width 35px
  height 10px
  left 10px

.cell-bar-right
  left 45px

.bottom-right
  top -55px

.top-right
  top -145px

.top
  top -200px

.bottom
  top -10px

.top-left
  top 10px

.cell-bar-lit
  background-color red

.cell-display
  display inline-block
  height 105px
  position relative
  top 10px

