extends layout

block content
  .js-panes
    .js-pane
      .glass.page.js-page.js-home
        h1=properties.appName
        h2.game-cost &pound;1 = 1 Game or &pound;2 = 3 Games
        .top-players.js-players
          include players

    .js-pane
      .glass.page
        .play-page
          .js-current-games
            p.play-msg.js-msg-play.js-blink Play!
            .up-down-arrow.js-rotate &#11015;
            p.js-turn Turn 0/0
            p.js-higest-score Your Highest Score: 0KG
            p.js-avg-score Your Average Score: 0KG
            .cell-display.js-cell-display
            p.kg-indic KG
          .messages
          .top-five-scores.js-score-pane
            include last-scores