extends layout

block content
  .js-panes
    .js-pane
      .glass.page.js-page.home.js-home
        h1 Challenge Charlie
        .top-players.js-players
          include players
      .glass.game-info
        p &pound;1 for One Game
        p &pound;2 for Three Games

    .js-pane
      .glass.page