h2 Top Ten Players
table
  tr
    th.short Pos
    th.wide Name
    th.short Score
    th.medium When
  each player, i in players
    tr
      td=i
      td=player.name
      td=player.score
      td=moment(player.date).calendar()