h2 Top Ten Players
table.js-players-tbl
  tr
    th.medium Pos
    th.medium Score
    th.medium When
  each player in players
    tr.js-row
      td=player.pos
      td=player.score
      td=player.date