.container
  .glass.page.js-page.home
    .top-players
      for player in players
        .player
          p.name=player.name
          p.score=player.score
  .glass.game-info
      p
        | &pound;1 for One Game
        | &pound;2 for Three Games
        | &pound;3 for Five Games