doctype html
html(lang="en")
  head
    title=properties.appName
    link(rel='stylesheet', href='/static/css/index.css')
    script(src='/static/js/jquery-1.11.0.min.js')
    script(src='/static/js/index.js')
  body
    !=pageView